:root {
  --color-accent-yellow: #ecad0a;
  --color-blue-primary: #209dd7;
  --color-purple-secondary: #753991;
  --color-dark-navy: #032147;
  --color-gray-text: #888888;

  font-family:
    system-ui,
    -apple-system,
    sans-serif;
  color: var(--color-dark-navy);
}

body {
  margin: 0;
}
